.test {
    display: flex;
    justify-content: center;
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    to {
        transform: translateY(500px);
    }
}

figure {
    animation: updown 0s infinite linear;
}

div#redball {
    width: 100px;
    height: 50px;
    transform-origin: center 300%;
    animation: circle 15s linear infinite;
}