@keyframes circle {
    to {
        transform: rotate(1turn);
    }
}

@keyframes updown {
    to {
        transform: translateX(200px);
    }
}

figure {
    animation: updown 1s infinite ease-in-out alternate;
}

div#redball {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background: red;
    transform-origin: center 300%;
    animation: circle 2s infinite linear;
}